@using DCMS.ViewModel.Models.Products;
@model CategoryModel
@Html.HiddenFor(model => model.Id)
<div class="form-group">
    <label asp-for="Name" asp-postfix=":" class="col-lg-3 control-label" />
    <div class="col-lg-8">
        <input asp-for="Name" class="form-control" placeholder="类别..." />
    </div>
</div>

<div class="form-group">
    <label asp-for="ParentId" asp-postfix=":" class="col-lg-3 control-label" />
    <div class="col-lg-8">
        <dcms-select asp-for="ParentId" asp-items="@Model.ParentList" class="form-control" />
    </div>
</div>

<div class="form-group">
    <label asp-for="OrderNo" asp-postfix=":" class="col-lg-3 control-label" />
    <div class="col-lg-8">
        <input asp-for="OrderNo" class="form-control" placeholder="排序..." />
    </div>
</div>

<div class="form-group">
    <label asp-for="StatisticalType" asp-postfix=":" class="col-lg-3 control-label" />
    <div class="col-lg-8">
        <dcms-select asp-for="StatisticalType" asp-items="@Model.StatisticalTypes" class="form-control" />
    </div>
</div>

<div class="form-group">
    <label asp-for="BrandId" asp-postfix=":" class="col-lg-3 control-label" />
    @Html.HiddenFor(m => m.BrandId)
    <div class="col-lg-8">
        <div class="input-group">
            <input asp-for="BrandName" class="form-control" placeholder="品牌..." />
            <span class="input-group-btn">
                <button id="btn_search" type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
    </div>
</div>

<div class="form-group">
    <label asp-for="Published" asp-postfix=":" class="col-lg-3 control-label" />
    <div class="col-sm-8">
        <label class="checkbox-inline">
            @Html.CheckBoxFor(model => model.Published, new { @class = "mt15"})
        </label>
    </div>
</div>
